.section-heading {
  font-size: 3em;
}

/*Section 1*/
.nav-link:hover {
  border-bottom: 1px hidden white;
}
.social-column {
  display: none !important;
}

.nav-item {
  padding-left: 10px;
  font-size: 1em;
}

.intro-container {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.name {
  font-size: 3.5em;
}

.skill {
  font-size: 1.4em;
}

.pre-text {
  font-size: 1.4em;
}

/*Section 3*/
.description {
  padding: 1em;
}

.description-text {
  padding-top: 1rem;
  font-size: 1.25em;
}

.self {
  width: 18rem;
  height: 20rem;
}

/*Section 4*/
.contact-text {
  font-size: 2.5em;
}

/* .contact-container {
    max-width: 59%;
} */
.linkedin,
.email {
  max-width: 30%;
}
